*{
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.flex-container {
  display: flex;
  justify-content: center;
  background-color:  #b8b894;
}


.flex-container > li {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.active { 
  color: black;
}

.flex-container > li :hover {
  background-color: #999966 ;
}



*, *::before, *::after { box-sizing: border-box; }

.app { padding: 25px; }

.main {
    align-items: flex-start;
    display: flex; }

.search-line {
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: 0 auto;
}
.search-input {
  margin: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    margin-bottom: 10px;
    height: 40px;
    line-height: 20px;
    padding: 8px 15px;
}
.users-wrapper {
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

.users {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.user {
    padding-left: 100px;
    width: 50%;
}

.user-prev {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 0;
    text-align: center;
    width: calc(100% / 5 - 20px);
}

.user-prev-photo {
    max-width: 100%;
    margin-bottom: 10px;
}

.user-prev-name { font-weight: 600; }

.user-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.user-list-item {
    margin: 5px;
    list-style-type: none;
    padding: 0;
}

.btn {
    background-color: #ccc;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin: 50px auto 0;
    width: 150px;
}

